#topNav
{
	margin-bottom: 0;
	background-color: #ede687;
	
}

ul.noindent {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
}

.jumbotron
{
	text-align: center;
	padding-top: 0px;
	padding-bottom: 10px;
}

#quizBox 
{
	#text
	{
		font-size: 6em;
		font-size: 20vw;
	}
	
	#mainBox .row
	{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		
		display: flex;
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		
		.arrow {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	
	#optionBox {
		margin-top: 20px;
	}
}


#regWordBox, #editWordBox, #deleteWordBox
{
	height: 100vh;
	
	
	
	.row {
		height: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		
		display: flex;
		flex-flow: row;
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;	
		
		#topLink {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

#helpBox 
{
	.row {
		height: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		
		display: flex;
		flex-flow: row;
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;	
		
		#topLink {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}
@media (min-width: 200px) 
{ 
    div[class*="col"]{padding-left:0px; padding-right:0px;}
}
