#topNav
{
	margin-bottom: 0;
}

.jumbotron
{
	text-align: center;
	padding-top: 0px;
	padding-bottom: 10px;
}

#quizBox 
{
	#text
	{
		font-size: 6em;
		font-size: 20vw;
	}
	
	#mainBox .row
	{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		
		display: flex;
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		
		.arrow {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	
	#optionBox {
		margin-top: 20px;
	}
}


#regWordBox, #editWordBox, #deleteWordBox
{
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	
	display: flex;
	
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;	
	
	.row {
		margin: auto;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		
		display: flex;
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;	
	}
}

@media (min-width: 200px) 
{ 
    div[class*="col"]{padding-left:0px; padding-right:0px;}
}
