
#regWordBox
	.row
		.col-xs-1
		.col-xs-10
			form#regWordForm.center-block(role='form', action='/words/register', method='post')
				.form-group
					label(for='#text') 한자
					input#text.form-control(type='text', name='text', placeholder='汉语, 한자 입력')
				.form-group
					label(for='#meaning') 뜻
					textarea#meaning.form-control(type='text', name='meaning', rows='2' placeholder='뜻')
				.form-group
					label(for='#desc') 기타 설명
					textarea#desc.form-control(type='text', name='desc', rows='4', placeholder='부가 설명')
				.form-group.submit-row.text-center
					button#submitButton.btn.btn-primary(type='submit') 새 단어
				.form-group.result-row.text-center
					span#loading.glyphicon.glyphicon-hourglass(aria-hidden='true')
					span#ok.glyphicon.glyphicon-ok(aria-hidden='true')
					span#error.glyphicon.glyphicon-alert(aria-hidden='true')
					p#message
		.col-xs-1.text-right
			a#topLink.btn.btn-link.btn-lg(href='#top', aria-label='Top')
				span.glyphicon.glyphicon-arrow-up(aria-hidden='true')
	

	