#quizBox
	.row
		#quizType.col-xs-5.text-left
			select.form-control
				option(value='All') 모두
				option(value='My') 내 단어
				option(value='Watching') 하트단어
				option(value='Abandoned') 제외단어
				
		#preference.col-xs-7.text-right 
			button#ShowPinyin.btn.btn-link.btn-lg(aria-label='Pinyin')
				span.glyphicon.glyphicon-volume-up(aria-hidden='true')
			button#HidePinyin.btn.btn-link.btn-lg(aria-label='Pinyin')
				span.glyphicon.glyphicon-volume-off(aria-hidden='true')
			button#Watch.btn.btn-link.btn-lg(aria-label='Watch')
				span.glyphicon.glyphicon-heart-empty(aria-hidden='true')
			button#Unwatch.btn.btn-link.btn-lg(aria-label='Unwatch')
				span.glyphicon.glyphicon-heart(aria-hidden='true')
			button#Ignore.btn.btn-link.btn-lg(aria-label='Ignore')
				span.glyphicon.glyphicon-trash(aria-hidden='true')
			button#Add.btn.btn-link.btn-lg(aria-label='Add')
				span.glyphicon.glyphicon-plus(aria-hidden='true')
	
	#mainBox
		.row
			#prevArrowBox.arrow-box.col-xs-1
				button#prevArrow.arrow.btn.btn-link.btn-sm(aria-label='Prev')
					span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
			.col-xs-10		
				h1#text
			#nextArrowBox.arrow-box.col-xs-1
				button#nextArrow.arrow.btn.btn-link.btn-sm(aria-label='Next')
					span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
	#pinyinBox
		p#pinyin.lead
			
	#meaningBox
		p#meaning.lead
		p#desc
		#nextBox.row
			button#next.btn.btn-primary.col-xs-offset-2.col-xs-8.input-lg(type='button') 넘어가기
			
	#answerBox.row
		button#know.btn.btn-success.col-xs-offset-2.col-xs-3.input-lg(type='button') 알아요
		button#wrong.btn.btn-warning.col-xs-offset-2.col-xs-3.input-lg(type='button') 몰라요
		
	#endBox
		p#endMessage
		p#answerRate
		.row
			button#restart.btn.btn-info.col-xs-offset-2.col-xs-8.input-lg(type='button') 새로 시작
			
	#optionBox
		.row
			.col-xs-12.text-right
				a#EditWord.btn.btn-link.btn-lg(href='#anchor_EditWord', aria-label='Edit')
					span.glyphicon.glyphicon-edit(aria-hidden='true')
				a#DeleteWord.btn.btn-link.btn-lg(href='#anchor_DeleteWord', aria-label='Delete')
					span.glyphicon.glyphicon-remove-circle(aria-hidden='true')
					
	#searchBox
		.row
			.col-xs-12
				form.form-inline
					.form-group
						.input-group
							span.input-group-addon
								label 한자
									input(type='radio', name="searchOption" value="text", checked='true')
								label 뜻
									input(type='radio', name="searchOption" value="meaning")
							input#searchText.form-control(type='text', name="searchText")
							span.input-group-btn
								button#search.btn.btn-default(type="submit", aria-label='Search')
									span.glyphicon.glyphicon-search(aria-hidden='true')
		.row
			.col-xs-12
				span#searchResult
										
			
					
	