.jumbotron
{
	text-align: center;
	padding-top: 52px;
}

#quizBox #text
{
	font-size: 6em;
	font-size: 20vw;
}



#quizBox #mainBox .row
{
	display:-webkit-flex;
	display: flex;
	align-items: center;
}

#regWordBox, #editWordBox, #deleteWordBox
{
	display:-webkit-flex;
	display: flex;
	align-items: center;
	height: 100vh;
}

#regWordBox .row, #editWordBox .row, #deleteWordBox .row
{
	margin: auto;
	width: 100%;
	display:-webkit-flex;
	display: flex;
	align-items: center;
}
